@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap");

body {
  font-family: "Rubik", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif !important;
}
/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;

  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 120px;
  font-size: 17px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

nav > img {
  display: block;
  width: 160px;
  height: 80px;
  line-height: 80px;
  padding-bottom: 5px;
} */
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  padding: 5px;
  font-size: 17px;
  font: "Rubik";
  font-weight: 400;
} */

.active {
  text-decoration-line: underline !important;
  text-decoration-thickness: 2px !important;
  color: rgb(20, 19, 19);
}
 

.main-img {
  display: grid;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("./kweta-kids.jpg");
  height: 990px;
  width: 100%;
  overflow: hidden;
  z-index: 20;
  opacity: 1;
  visibility: inherit;
}
.main-content {
  display: grid;
  align-items: center;
  /* justify-items: end; */
  justify-content: space-around;
  grid-template-columns: 50% auto;
  /* grid-template-rows: 50% auto; */
  align-self: center;
  justify-self: center;
}
.main-about-kweta {
  grid-row: 1;
  grid-column: 1;
}
.main-about-kweta > p h3 {
  width: 550px;
  line-height: 25px;
}
.kwara-img {
  grid-row: 1;
  grid-column: 2;
  width: 500px;
  vertical-align: top;
  border-radius: inherit;
  padding-top: 100px;
}
#rt {
  color: #bda55d !important;
}

.button-bg {
  background-color: #bda55d !important;
  transition: background-color linear 700ms;
  -webkit-transition: background-color linear 700ms;
  -moz-transition: background-color linear 700ms;
  -ms-transition: background-color linear 700ms;
  -o-transition: background-color linear 700ms;
}

.button-bg:hover {
  background-color: black !important;
  color: white !important;
}
.dt {
  background-color: #1e4d7b !important;
  width: 100% !important;
  left: 0;
  bottom: -2;
  position: absolute !important;
  margin-right: 50px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Facebook */
.fa-facebook {
  background: transparent;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: transparent;
  color: white;
  font-size: larger;
}
.fa-instagram {
  background: transparent;
  color: #fff;
}

/* card */

* {
  box-sizing: border-box !important;
}
.body {
  display: flex !important;
  justify-content: space-between;
  flex-direction: column !important;
  margin-right: auto !important;
  margin-left: auto !important;
  gap: 5;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

.a {
  text-decoration: none;
  color: #212121 !important;
  height: max-content;
}

.img-text {
  padding-left: 1em;
  max-width: 16em;
  opacity: 7;
  font-size: 21px;
  font-weight: 900;
  text-transform: capitalize;
  top: 270px;
}

.follow-btn {
  transition: all 0.3s ease-in-out;
  width: auto;
  cursor: pointer;
  display: inline-block;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.follow-btn:hover {
  width: max-content;
  transform: scale(1.05);
  border-radius: 50px;
  box-sizing: border-box;
  color: orange !important;
  border-color: wheat !important;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.follow-btn:hover:after {
  opacity: 1;
  transition: 1s;
  position: relative;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  color: orange;
}

.follow-btn::after {
  padding-left: 10px;
  content: "Follow";
  position: absolute;
  width: fit-content;
  opacity: 0;
  z-index: 99;
}

.teacher-name {
  color: #212121 !important;
  font-weight: bold;
  padding-left: 5px;
  display: block;
}

.school-info {
  color: #414142;
  text-align: center;
  align-items: center;
  font-weight: lighter;
  font-size: medium;
  font-style: normal;
}

.sch-sep {
  margin: 0 5px;
  font-weight: 900 !important;
  font-size: larger !important;
}

.donation-info {
  color: #212121 !important;
  margin-top: 15px;
  padding-top: 15px;
  text-align: center;
  align-items: center;
}
.donation-info > span {
  font-weight: 900;
  font-size: large;
}

@media (hover: none) {
  .follow-btn::after {
    opacity: 1;
    position: relative;
    color: orange;
    padding-left: 10px;
    content: "Follow";
    position: absolute;
    width: fit-content;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }

  .follow-btn::after {
    position: relative;

    opacity: 1;
    z-index: 99;
  }

  .follow-btn {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: inline-block;
    width: auto;
    transform: scale(1.05);
    border-radius: 60px;
    box-sizing: border-box;
    color: orange !important;
    border-color: wheat !important;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    -webkit-border-radius: 60px;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
}

@media only screen and (min-width: 768px) {
  .img-text {
    top: calc(40% - 23px) !important;
    padding-left: 1rem;
    max-width: 16em;
    opacity: 7;
    font-size: 21px;
    font-weight: 900;
    text-transform: capitalize;
    z-index: 99;
    float: inherit;
  }
}

@media only screen and (max-width: 430px) {
  .img-text {
    top: calc(38% - 23px) !important;
    padding-left: 1.8rem;
    max-width: 100%;

    font-size: 19px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    z-index: 99;
  }
}

.card {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  margin-bottom: 0;
  margin-top: 0;
}

.card:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.card:hover > button {
  width: max-content;
  border-radius: 50px;
  box-sizing: border-box;

  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.card:hover > button::after {
  opacity: 1;
  transition: 1s;
  position: relative;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.description {
  line-height: 1.4;
  font-size: 0.875rem;
  overflow: auto;
  margin-bottom: 14px;
  height: 103px;
  padding-bottom: 5px;
}

.card-title {
  padding-bottom: 10px;
}

/* about-us */

.grid {
  display: grid;
  /* position: relative; */
  height: fit-content !important;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(2, minmax(240px, 1fr));
}

@media only screen and (min-width: 500px) and (max-width: 901px) {
  .grid {
    display: grid;
    /* position: relative; */
    height: fit-content !important;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(240px, 1fr)) !important;
  }
}

.text-header {
  font-size: 40px;
  text-align: center;
}

@media screen and (max-width: 439px) {
  .grid {
    display: grid;
    position: relative;
    height: fit-content !important;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(6, minmax(200px, 1fr)) !important;
    margin-bottom: 25px;
  }
  .text-header {
    font-size: 25px !important;
  }
  #p {
    font-size: 17px !important;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #bf9b30;
  color: #fff;
  font-size: 3rem;
  box-shadow: rgba(82, 87, 97, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1);
  /* height: 100%; */
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cards-item {
  margin: 0;
  color: black;
  font-size: large;
}
/* 
body{
    height: 100%;
} */

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Kweta-1536x521.jpg");
  height: 400px !important;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.hero-text {
  text-align: center;
  color: white;
}

/* about-us */
.about-us {
  background-color: #bda55d;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(tapestry-wireframe-dark-blue.png);
  background-repeat: repeat;
  object-fit: contain;
  background-position: left top;
  background-size: 528px 275px;
  opacity: 1;
  color: #fff;
  text-transform: capitalize;
  font-size: large;
}

.parag {
  text-align: center;
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #fffaeb;
}

li.nav-item > a:hover {
  color: #bda55d !important;
}

li.nav-item > a:active{
  transition: all 500000s;
  animation-duration: 500000000s;
  text-decoration: underline;
  -webkit-transition: all 500000s;
  -moz-transition: all 500000s;
  -ms-transition: all 500000s;
  -o-transition: all 500000s;
}