@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap");

body {
  font-family: 'Rubik', sans-serif;
}




.grid{
    display: grid;
    /* position: relative; */
    height: fit-content !important;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-template-rows: repeat(2,minmax(240px,1fr));
}

@media only screen and (min-width: 500px)and (max-width:901px){
    .grid{
    display: grid;
    /* position: relative; */
    height: fit-content !important;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-template-rows: repeat(3,minmax(240px,1fr)) !important;
}
}


.text-header{
    font-size: 40px;
    text-align: center;
}

@media  screen and (max-width: 439px) {

.grid{
    display: grid;
    position: relative;
    height: fit-content !important;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-template-rows: repeat(6,minmax(200px,1fr)) !important;
    margin-bottom: 25px;
}
.text-header{
    font-size: 25px !important;
   
}
#p{
    font-size: 17px !important;
}

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #bf9b30;
    color: #fff;
    font-size: 3rem;
    box-shadow: rgba(82, 87, 97, 0.1) 0px 0.15rem 0.5rem ,rgba(2 , 8 , 20 , 0.1);
    /* height: 100%; */
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

}

.card-item{
    margin: 0;
    color: black;
    font-size: large;
}

body{
    height: 100%;
}

.hero-img{
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
         rgba(0, 0, 0, 0.5)), url("./images/Kweta-1536x521.jpg");
 height: 400px !important;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.hero-text{
     text-align: center;
     color: white;
 
}